.venv/
__pycache__/
*.pyc
data/raw/*
data/processed/*
results/models/*
results/figures/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!results/models/.gitkeep
!results/figures/.gitkeep
*.pkl
.ipynb_checkpoints/
ParaEMT_public-main/
ParaEMT_public-main.zip
logs_dataset_v1.txt
copy/
